*{
    box-sizing: border-box;
}
body {
    background-image: url(../images/yellow_background.png);
    background-size: cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;}

#main_title{
    display: inline-block;
}
header {
    border: 4px solid orange;
    border-radius: 10px;
}
header  h1{
    font-family: ballpark;
    font-size: 50px;;
    text-align: right;
    top: 200px;
    font-weight: normal;
  
}
#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
}
header h2{
    text-align: left;
   font-size: 35px;
    font-family: Dayrom, serif;
    font-weight: normal;
    margin-top: 5px;
}
nav{
    border: 4px solid saddlebrown;
    border-radius: 10px;
    display: inline-block;
    width: 750px;
    text-align: center;
    float: right;
    margin-top: 6%;
}

nav li{
   
    font-size: 25px;
    font-family: Dayrom;
    display: inline;
}
nav a{
    text-decoration: none;
    font-size: 1.4;
    color: black;
    padding-bottom: 4px;
    margin: 0 20px; 
}
nav a:hover{
    border-bottom: 4px solid #6a0000;
    color: #6a0000;
}
div  id{
    color: white;
}
#banner_image{
    border: 4px solid red;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 15px;
    position: relative;
    height: 210;
    background-image: url(../images/sanfrancisco.jpg);
    box-shadow: 0px 4px 4px #191716;
    height: 200px;
    background-size: cover;
}

#banner_discription{
    position: absolute;
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.8);
    font-size: 0.8em;
    bottom: 0;
    width: 99.5%;
    height: 33px;
    border-radius: 0px 0px 5px 5px;
    padding-top: 16px;
    padding-left: 5px;
    color: white;
}
#banner_image #banner_description{
    position : relative;
    top: 85%;
    background-color: rgba(0,0,0,.4);
    height: 20px;
    background-size: cover;
    padding: 5px 20px;
    color: white;
}
.red_button{
    background: darkred;
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
.red_button img{
    border: 0;
}

section{
    border: 4px solid fuchsia;
    border-radius: 10px;
    margin-top: 2px;
}
article, aside{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
}
article h1{
    font-family: Dayrom, serif;
}
article{
    display: inline-block;
    border: 4px solid indigo;
    margin: 2px;
    border-radius: 10px;
    padding-right: 47.5%;
    padding-bottom: 18%;
}
.cat_icon{
    margin-right: 20px;
    vertical-align: middle;
}
article p{
    padding-left: 2px;
    font-size: 20px;
}
aside{
    border: 4px solid green;
    margin-top: 1px;
    border-radius: 15px;
    background-color: #595550;
    box-shadow: 5px 10px 10px #191716;
    color: snow;
    font-size: 20px;
    padding: 20px;
    position: relative;
    width: 305px;
    text-align: center;    
}
#zozor_img{
    text-align: center;
}
#zozor_img img{
    border: 1px solid black;
}
aside p{
    text-align: left;
}
aside h1{
    text-align: left;  
}
#arrow{
    left:-300px;
    top:100px;
    position: absolute;
}
aside image{
    margin-right: 5px;
}

footer{
    border: 4px solid blue;
    border-radius: 10px;
    margin-top: 10px;
    background:  url(../images/top.png) top center;
    
    background-repeat: no-repeat;
    
   padding-top: 25px;
}
footer image{
    float: : left;
}
#top{
    display: inline-block;
    float:left;
    
    
}
footer p, footer ul{
    font-size: 20px;
}
footer h1{
    font-size: 30px;
}


#tweet, #my_pictures, #my_friends
{
    display: inline-block;
    vertical-align: top;
}
#tweet{
     border: 3px solid black;
     border-radius: 15px;
     width: 30%;
}
#my_pictures{
     border: 3px solid black;
     border-radius: 15px;
     width: 33%;
}
#my_friends{
     border: 3px solid black;
     border-radius: 15px;
     width: 31%;
    
}
#my_pictures img{
    border: 2px solid black;
    margin-right: 3px;
}
#my_friends ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: center;
    width: 48%;
    list-style-image: url(../images/external_link.png);
     padding: left ;
}
#my_friends a {
    text-decoration: none;
    color: darkred;}

 

