body {
    background-image: url(../images/yellow_background.png);
    background-size: cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;}

#main_title{
    display: inline-block;
}
header {
    border: 4px solid orange;
    border-radius: 10px;
}
header  h1{
    font-family: ballpark;
    font-size: 50px;;
    text-align: right;
    top: 200px;
    font-weight: normal;
  
}
#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
}
header h2{
    text-align: left;
   font-size: 35px;
    font-family: Dayrom, serif;
    font-weight: normal;
    margin-top: 5px;
}
nav{
    
    display: inline-block;
    width: 750px;
    text-align: left;
}
nav ul{
    list-style-type: none;
}
nav li{
    font-size: 25px;
    font-family: Dayrom;
    margin-right: 16px;
    display: inline-block;
    position: relative;
    left: 150%;
}
nav a{
    text-decoration: none;
    font-size: 1.4;
    color: black;
    padding-bottom: 4px;
}
nav a:hover{
    border-bottom: 4px solid #6a0000;
    color: #6a0000;
}
div  id{
    color: white;
}
#banner_image{
    border: 4px solid red;
    border-radius: 10px;
    margin-top: 20x;
    margin-bottom: 15px;
    border-radius: 9px;
    position: relative;
    height: 210;
    background-image: url(../images/sanfrancisco.jpg);
    box-shadow: 0px 4px 4px #191716;
    height: 200px;
    background-size: cover;
}

#banner_discription{
    position: absolute;
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.8);
    font-size: 0.8em;
    bottom: 0;
    width: 99.5%;
    height: 33px;
    border-radius: 0px 0px 5px 5px;
    padding-top: 16px;
    padding-left: 5px;
    color: white;
}
#banner_image #banner_description{
    position : relative;
    top: 85%;
    background-color: rgba(0,0,0,.4);
    height: 20px;
    background-size: cover;
    padding: 5px 20px;
    color: white;
}
.red_button{
    text-align: center;
    text-decoration: none;
    font-size: 1.2;
    display: inline-block;
    position: absolute;
    height: 25px;
    color: white;
    bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: url(../images/red_background.png);
    background-repeat: no-repeat;
    padding: 3px 8px 0px 8px;
}
.red_button imade{
    border: 5;
}

section{
    border: 4px solid fuchsia;
    border-radius: 10px;
}
article, aside{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
}
article h1{
    font-family: Dayrom, serif;
}
article{
    border: 4px solid indigo;
    border-radius: 10px;
    margin-right: 50px;
    width: 650px;
}
.cat_icon{
    margin-right: 20px;
    vertical-align: middle;
}
article p{
    font-size: 20px;
}
aside{
    border: 4px solid green;
    border-radius: 15px;
    background-color: #595550;
    box-shadow: 5px 10px 10px #191716;
    color: snow;
    font-size: 25px;
    padding: 20px;
    position: relative;
    width: 305px;
    left: 41%;
}

#arrow{
    left:-300px;
    top:100px;
    position: absolute;
}
#zozor_picture{
    text-align: center;
}
#zozr_picture image{
    border: 0px solid black;
}
aside image{
    margin-right: 5px;
}

footer{
    border: 4px solid blue;
    border-radius: 10px;

    background:  url(../images/top.png) no-repeat top center;
    background: url(../images/line.png) repeat-x top;
    background: url(../images/shadow.png) repeat-x top;
    padding-top: 25px;
}
footer p, footer ul{
    font-size: 20px;
}
footer h1{
    font-size: 30px;
}


#tweet, #my_pictures, #my_friends
{
    display: inline-block;
    vertical-align: top;
}
#tweet{
     border: 3px solid black;
     border-radius: 15px;
     width: 30%;
}
#my_pictures{
     border: 3px solid black;
     border-radius: 15px;
     width: 33%;
}
#my_friends{
     border: 3px solid black;
     border-radius: 15px;
     width: 34%;
    l
}
#my_pictures img{
    border: 2px solid #181818;
    margin-right: 3px;
}
#my_friends ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('images/external_link.png');
    padding-left: 2px;
}
#my_friends a {
    text-decoration: none;
    color: #760001;}
